<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GanoExcel.Web.Base.Properties.Settings.DefaultString"
            connectionString="Server=gecaus-sqldev01;Database=GANO_US;User ID=merydion;Password=$@llyj@n3;" />
    </connectionStrings>
</configuration>